form#form-task.form-inline(class='todos')
  .form
    .main
      h5 [공지사항1] 예약요청 시 checkin_checkout_호스트명(이메일)으로 작성할 것!
      h5 [공지사항2] 예약요청과 예약확인을 동시에 하는 페이지이므로 예약 삭제 시 주의할 것!
      h5 [공지사항3] '여행자'시라면 예약요청과 예약수락/거절 확인만을 해주시길 부탁드려요~
      h5 [공지사항4] '호스트'시라면 예약확인과 예약수락/거절 결정만을 해주시길 부탁드려요~
      input(type='text', id='content', name='content', placeholder='checkin_checkout_호스트명(이메일)의 형식으로 입력해주세요')
    .sub
      .form-group
        select.form-control(name='category')
          option(value='개인', selected) 개인
          option(value='가족') 가족
          option(value='업무') 업무
          option(value='기타') 기타
      .form-group
        select.form-control(name='priority')
          option(value='1') 숙박인원1명
          option(value='2', selected) 숙박인원2명
          option(value='3') 숙박인원3+명
  .actions
      button#post-task.btn.btn-primary.btn-lg.btn-block(type='button') 저장

ul.tasks

.no-task 
  .alert.alert-info Task가 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'> 
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 3) ? "숙박인원3+명" : ((priority === 1) ? "숙박인원1명": "숙박인원2명") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
